{% extends 'base.html' %}

{%block main %}

<body>
            <div class="row">
                <div class="col-md-4 col-sm-5 col-xs-8">
                    <center>
                   <!--  <button type="button" class="btn btn-info  btn-lg">上传</button>-->

                        <button class="btn btn-info btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            上传
                        </button>
                        <!-- 模态框（Modal） -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            上传新记录
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <!-- 输入新记录表单 -->
                                            <form class="form-horizontal" role="form" method="get" action="{% url 'blog:bactload' %}">
                                                    {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="firstname" class="col-sm-2 control-label">菌株保藏编号</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="bactnumber" class="form-control" id="firstname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">平台资源编号</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="sourcenum" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">属名</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="genus" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">种名</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="species" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">中文名</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="chinesename" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">其它平台资源编号</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="othersourcenum" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">来源历史</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="history" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">原始资源编号</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="orinumber" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">主要用途</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="mainuse" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">生物危害程度</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="danger" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">寄主名称</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="hostname" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">致病名称</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="ill" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">传播途径</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="tranroute" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">培养基编号</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="media" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">培养基温度</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="mediatem" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">基因元器件</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="gene" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">记录地址</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="recadd" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">共享方式</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="shareme" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">获取途径</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="getmet" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">联系方式</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="callme" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">源数据主键</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="mainkey" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">提供人</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="prod" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">分离人</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="didv" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">鉴定人</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="judge" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">基因序列注册号</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="genenumber" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                      <button type="submit" class="btn btn-default">提交新纪录</button>
                                                    </div>
                                                </form>
                                                <!-- 
                                                <div class="form-group">
                                                  <div class="col-sm-offset-2 col-sm-10">
                                                        <div class="checkbox">
                                                          <label>
                                                            <input type="checkbox">请记住我
                                                          </label>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="form-group">
                                                      <div class="col-sm-offset-2 col-sm-10">
                                                        <button type="submit" class="btn btn-default">登录</button>
                                                      </div>
                                                    </div>
                                                  </form>
                                                -->

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            关闭
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </center>
                </div><!-- col-md-4 -->
                <div class="col-md-8 col-sm-7 col-xs-4">
                    <nav class="main-nav" role="navigation">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="list-unstyled text-center" >
                                    <li>当前数据库有xx条记录</li>
                                    <li>本日上传记录xx条</li>
                                    <li>本周上传记录xx条</li>
                                  </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div><!-- col-md-8 -->
            </div>

            <div class="col-md-12 col-sm-7 col-xs-4">

                    {% if msg == 0 %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">
                            &times;
                        </button>
                        成功！很好地完成了提交。
                    </div>
                    {% elif msg == 1 %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">
                            &times;
                        </button>
                        错误！请进行一些更改。
                    </div>
                    {% else %}
                    {% endif %}

                    
            <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>菌株保藏编号</th>
                            <th>平台资源编号</th>
                            <th>属名</th>
                            <th>种名</th>
                            <th>中文名</th>
                            <th>其它平台资源编号</th>
                            <th>来源历史</th>
                            <th>收藏时间</th>
                            <th>原始资源编号</th>
                            <th>培养基编号</th>
                            <th>基因元器件</th>
                            <th>记录地址</th>
                            <th>共享方式</th>
                            <th>获取途径</th>
                            <th>提供人</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for test in tests %}
                            <tr class="row1">
                                    <td class="field-bactnumber"> {{test.bactnumber}}</td>
                                    <th class = "field-sourcenum">{{test.sourcenum}}</th>
                                    <th class = "field-genus">{{test.genus}}</th>
                                    <th class = "field-species">{{test.species}}</th>
                                    <th class = "field-chinesename">{{test.chinesename}}</th>
                                    <th class = "field-othersourcenum">{{test.othersourcenum}}</th>
                                    <th class = "field-history">{{test.history}}</th>
                                    <th class = "field-storetimr">{{test.storetime}}</th>
                                    <th class = "field-orinumber">{{test.orinumber}}</th>
                                    <th class = "field-media">{{test.media}}</th>
                                    <th class = "field-gene">{{test.gene}}</th>
                                    <th class = "field-recadd">{{test.recadd}}</th>
                                    <th class = "field-shareme">{{test.shareme}}</th>
                                    <th class = "field-getmet">{{test.getmet}}</th>
                                    <th class = "field-prod">{{test.prod}}</th>
                            </tr> 
                            {% empty %}
                              <div class="row1">null</div>
                            {% endfor %}
                    </tbody>
                </table>
                </div>
</body>
{% endblock main %}