{% extends 'base.html' %}

{%block main %}

<body>
            <div class="row">
                <div class="col-md-4 col-sm-5 col-xs-8">
                    <center>
                   <!--  <button type="button" class="btn btn-info  btn-lg">上传</button>-->

                        <button class="btn btn-info btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            上传
                        </button>
                        <!-- 模态框（Modal） -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            上传新记录
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <!-- 输入新记录表单 -->
                                            <form class="form-horizontal" role="form" method="get" action="{% url 'blog:cpdload' %}">
                                                    {% csrf_token %}
                                                <!--
                                                <div class="form-group">
                                                    <label for="firstname" class="col-sm-2 control-label">序号</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="number" class="form-control" id="firstname" placeholder="请输入">
                                                    </div>
                                                </div>
                                            -->
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">化合物编号</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="cpdnumber" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">来源菌株</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="frombact" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">精确质量数</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="mass" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">分子式</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="stru" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">nmr数据</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="nmr" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">ms数据</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="ms" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">旋光数据</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="rot" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">红外数据</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="red" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">紫外数据</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="blue" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">培养基编号</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="media" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">活性送测单位</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="depa" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>

                                                
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">活性结果</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="resu" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">活性送测时间</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="time" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">提供人</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="prov" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname" class="col-sm-2 control-label">入库时间</label>
                                                    <div class="col-sm-10">
                                                    <input type="input" name="dtime" class="form-control" id="lastname" placeholder="请输入">
                                                    </div>
                                                </div>
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                      <button type="submit" class="btn btn-default">提交新纪录</button>
                                                    </div>
                                                </form>
                                                <!-- 
                                                <div class="form-group">
                                                  <div class="col-sm-offset-2 col-sm-10">
                                                        <div class="checkbox">
                                                          <label>
                                                            <input type="checkbox">请记住我
                                                          </label>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="form-group">
                                                      <div class="col-sm-offset-2 col-sm-10">
                                                        <button type="submit" class="btn btn-default">登录</button>
                                                      </div>
                                                    </div>
                                                  </form>
                                                -->

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            关闭
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </center>
                </div><!-- col-md-4 -->
                <div class="col-md-8 col-sm-7 col-xs-4">
                    <nav class="main-nav" role="navigation">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="list-unstyled text-center" >
                                    <li>当前数据库有xx条记录</li>
                                    <li>本日上传记录xx条</li>
                                    <li>本周上传记录xx条</li>
                                  </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div><!-- col-md-8 -->
            </div>

            <div class="col-md-12 col-sm-7 col-xs-4">

                    {% if msg == 0 %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">
                            &times;
                        </button>
                        成功！很好地完成了提交。
                    </div>
                    {% elif msg == 1 %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">
                            &times;
                        </button>
                        错误！请进行一些更改。
                    </div>
                    {% else %}
                    {% endif %}

                    
            <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>化合物编号</th>
                            <th>来源菌株</th>
                            <th>精确质量数</th>
                            <th>分子式</th>
                            <th>nmr数据</th>
                            <th>ms数据</th>
                            <th>旋光数据</th>
                            <th>红外数据</th>
                            <th>紫外数据</th>
                            <th>培养基编号</th>
                            <th>活性送测单位</th>
                            <th>活性种类</th>
                            <th>活性送测时间</th>
                            <th>活性结果</th>
                            <th>提供人</th>
                            <th>入库时间</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for test in tests %}
                            <tr class="row1">
                                    <td class="field-cpdnumber"> {{test.cpdnumber}}</td>
                                    <th class = "field-frombact">{{test.frombact}}</th>
                                    <th class = "field-mass">{{test.mass}}</th>
                                    <th class = "field-stru">{{test.stru}}</th>
                                    <th class = "field-nmr">{{test.nmr}}</th>
                                    <th class = "field-ms">{{test.ms}}</th>
                                    <th class = "field-rot">{{test.rot}}</th>
                                    <th class = "field-red">{{test.red}}</th>
                                    <th class = "field-blue">{{test.blue}}</th>
                                    <th class = "field-media">{{test.media}}</th>
                                    <th class = "field-depa">{{test.depa}}</th>
                                    <th class = "field-spc">{{test.spc}}</th>
                                    <th class = "field-time">{{test.time}}</th>
                                    <th class = "field-resu">{{test.resu}}</th>
                                    <th class = "field-prov">{{test.prov}}</th>
                                    <th class = "field-dtime">{{test.dtime}}</th>
                            </tr> 
                            {% empty %}
                              <div class="row1">null</div>
                            {% endfor %}
                    </tbody>
                </table>
                </div>
</body>
{% endblock main %}