{% extends 'base.html' %}
{% load blog_tags %}
{%block main %}

<body>
    <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-8">
            <center>
           <!--  <button type="button" class="btn btn-info  btn-lg">上传</button>-->
                <button class="btn btn-info btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    上传
                </button>
            </center>
        </div><!-- col-md-4 -->
        <div class="col-md-4 col-sm-5 col-xs-8">
            <center>
                <button class="btn btn-info btn-primary btn-lg" data-toggle="modal" data-target="#batchinput">
                    批量上传
                </button>
            </center>
        </div><!-- col-md-4 -->
        <div class="col-md-4 col-sm-7 col-xs-4">
            <nav class="main-nav" role="navigation">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="list-unstyled text-center" >
                            <li>当前登录用户： {{request.user}}</li>
                            <li>当前数据库 <strong>化合物数据库</strong></li>
                            <li>当前数据库上传记录 {{num}}</li>
                            <li>本周上传记录 0 条</li>
                        </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div><!-- col-md-8 -->
    </div>
    <div class="col-md-12 col-sm-7 col-xs-4">
            {% if msg == 0 %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"
         .                 aria-hidden="true">
                    &times;
                </button>
                成功！很好地完成了提交。
            </div>
            {% elif msg == 1 %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">
                    &times;
                </button>
                错误！请进行一些更改。
            </div>
            {% elif msg == 2 %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">
                            &times;
                        </button>
                        上传数据中第 {{err}} 发生了错误，请重新输入。
                    </div>
            {% else %}
            {% endif %}  
    <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>来源菌株</th>
                    <th>mccc编号</th>
                    <th>中文名</th>
                    <th>样品存储地址</th>
                    <th>培养基</th>
                    <th>入库时间</th>
                    <th>入库体积</th>
                    <th>入库浓度</th>
                    <th>溶剂</th>
                    <th>提取方法</th>
                    <th>提供人</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                    {% for crudeex in tests %}
                    {% if request.user == crudeex.provider %}
                    <tr class="row1 success" data-toggle="modal" data-target="#alter"  data-frombact = "{{crudeex.frombact.id}}"
                    data-whatever = "{{crudeex.id}}" data-mcccnumber = "{{crudeex.mcccnumber}}" data-chinesename = "{{crudeex.chinesename}}"  
                    data-recadd = "{{crudeex.recadd}}" data-media = "{{crudeex.media}}" data-entervol = "{{crudeex.entervol}}"
                    data-entercol = "{{crudeex.entercol}}"  data-solvent = "{{crudeex.solvent}}"  data-exrmethod = "{{crudeex.exrmethod}}" 
                    data-comment = "{{crudeex.comment}}" >
                    {% else %}
                    <tr class="row1" data-frombact = "{{crudeex.frombact.id}}"
                    data-whatever = "{{crudeex.id}}" data-mcccnumber = "{{crudeex.mcccnumber}}" data-chinesename = "{{crudeex.chinesename}}"  
                    data-recadd = "{{crudeex.recadd}}" data-media = "{{crudeex.media}}" data-entervol = "{{crudeex.entervol}}"
                    data-entercol = "{{crudeex.entercol}}"  data-solvent = "{{crudeex.solvent}}"  data-exrmethod = "{{crudeex.exrmethod}}" 
                    data-comment = "{{crudeex.comment}}">
                    {% endif %}
                            <td class = "field-frombact">{{crudeex.frombact}}</td>
                            <th class = "field-mcccnumber"> {{crudeex.mcccnumber}}</th>
                            <th class = "field-chinesename">{{crudeex.chinesename}}</th>
                            <th class = "field-recadd">{{crudeex.recadd}}</th>
                            <th class = "field-media">{{crudeex.media}}</th>
                            <th class = "field-entertime">{{crudeex.entertime}}</th>
                            <th class = "field-entervol">{{crudeex.entervol}}</th>
                            <th class = "field-entercol">{{crudeex.entercol}}</th>
                            <th class = "field-solvent">{{crudeex.solvent}}</th>
                            <th class = "field-exrmethod">{{crudeex.exrmethod}}</th>
                            <th class = "field-provider">{{crudeex.provider}}</th>
                            <th class = "field-comment">{{crudeex.comment}}</th>
                            <!--
                                <th class = "field-upload"><button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#upload">添加送测记录</button></th>
                            -->
                    </tr> 
                    {% empty %}
                      <div class="row1">null</div>
                    {% endfor %}
            </tbody>
        </table>
    </div>

<!--（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    上传新记录
                </h4>
            </div>
            <div class="modal-body">
                <!-- 输入新记录表单 -->
                    <form class="form-horizontal" role="form" method="get" action="{% url 'blog:curdeexupload' %}">
                            {% csrf_token %}
                        <div class="form-group has-success">
                            <label  class="col-sm-2 control-label">来源菌株</label>
                            <div class="col-sm-10">
                            <select type="input" name="frombact" class="form-control">
                            {% get_all_bact as bact_list %}
                            <ul>
                                {% for bact in bact_list %}
                                <option value = '{{bact.id}}'>{{bact.bactnumber}}</option>
                                {% empty %}
                                <a>null</a>
                                {% endfor %}
                            </ul>
                            </select>
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label for="lastname" class="col-sm-2 control-label">mccc编号</label>
                            <div class="col-sm-10">
                            <input type="input" name="mcccnumber" class="form-control" id="lastname" >
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label for="lastname" class="col-sm-2 control-label">中文名</label>
                            <div class="col-sm-10">
                            <input type="input" name="chinesename" class="form-control" id="lastname" >
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label for="lastname" class="col-sm-2 control-label">样品存储地址</label>
                            <div class="col-sm-10">
                            <input type="input" name="recadd" class="form-control" id="lastname" >
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label for="lastname" class="col-sm-2 control-label">培养基</label>
                            <div class="col-sm-10">
                            <input type="input" name="media" class="form-control" id="lastname" >
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label for="lastname" class="col-sm-2 control-label">入库体积</label>
                            <div class="col-sm-10">
                            <input type="input" name="entervol" class="form-control" id="lastname" >
                            </div>
                        </div>                                            
                        <div class="form-group has-success">
                            <label for="lastname" class="col-sm-2 control-label">入库浓度</label>
                            <div class="col-sm-10">
                            <input type="input" name="entercol" class="form-control" id="lastname" >
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label for="lastname" class="col-sm-2 control-label">溶剂</label>
                            <div class="col-sm-10">
                            <input type="input" name="solvent" class="form-control" id="lastname" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-2 control-label">提取方法</label>
                            <div class="col-sm-10">
                            <input type="input" name="exrmethod" class="form-control" id="lastname" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10">
                            <input type="input" name="comment" class="form-control" id="lastname" >
                            </div>
                        </div>
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-default">提交新纪录</button>
                            </div>
                        </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- modal alter -->
<div class="modal fade" id="alter" tabindex="-1" role="dialog" aria-labelledby="alterLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="alterLabel">修改</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="get" action="{% url 'blog:crualter' %}">
                    <!-- 写的时候action后边的{}url后边加了两个引号，就一直跳转到/testrecord界面，去掉之后才变 -->
                        {% csrf_token %}
                    <input type="hidden" id="alterid"  name="id"  />
                    <div class="form-group has-success">
                        <label  class="col-sm-2 control-label">来源菌株</label>
                        <div class="col-sm-10">
                            <select type="input" name="frombact" class="form-control" id="frombact">
                                {% get_all_bact as bact_list %}
                                <ul>
                                    {% for bact in bact_list %}
                                    <option  value = '{{bact.id}}'>{{bact.bactnumber}}</option>
                                    {% empty %}
                                    <a>null</a>
                                    {% endfor %}
                                </ul>
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label for="lastname" class="col-sm-2 control-label">mccc编号</label>
                        <div class="col-sm-10">
                        <input type="input" name="mcccnumber" class="form-control" id="mcccnumber" >
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label for="lastname" class="col-sm-2 control-label">中文名</label>
                        <div class="col-sm-10">
                        <input type="input" name="chinesename" class="form-control" id="chinesename" >
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label for="lastname" class="col-sm-2 control-label">样品存储地址</label>
                        <div class="col-sm-10">
                        <input type="input" name="recadd" class="form-control" id="recadd" >
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label for="lastname" class="col-sm-2 control-label">培养基</label>
                        <div class="col-sm-10">
                        <input type="input" name="media" class="form-control" id="media" >
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label for="lastname" class="col-sm-2 control-label">入库体积</label>
                        <div class="col-sm-10">
                        <input type="input" name="entervol" class="form-control" id="entervol" >
                        </div>
                    </div>                                            
                    <div class="form-group has-success">
                        <label for="lastname" class="col-sm-2 control-label">入库浓度</label>
                        <div class="col-sm-10">
                        <input type="input" name="entercol" class="form-control" id="entercol" >
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label for="lastname" class="col-sm-2 control-label">溶剂</label>
                        <div class="col-sm-10">
                        <input type="input" name="solvent" class="form-control" id="solvent" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">提取方法</label>
                        <div class="col-sm-10">
                        <input type="input" name="exrmethod" class="form-control" id="exrmethod" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                        <input type="input" name="comment" class="form-control" id="comment" >
                        </div>
                    </div>
                    <div class = "col-sm-8"></div>
                    <div class = "col-sm-4">
                    <button type="submit" class="btn btn-default">提交新纪录</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </form>
                <form class="form-horizontal" role="form" method="get" action="{% url 'blog:crudel' %}">
                {% csrf_token %}
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="hidden" id="delid"  name="id" >
                    <button type="submit" class="btn btn-default">删除</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" >不删除</button>
                </div>
                </form>
                </div>
            <div class="modal-footer">  
            </div>
        </div>
    </div> 
</div>

<script> 
    $('#alter').on('show.bs.modal', function (event) {
        var btn = $(event.relatedTarget)
        var modal = $(this)
        modal.find('#alterid').val(btn.attr("data-whatever"))
        modal.find('#delid').val(btn.attr("data-whatever"))
        modal.find('#frombact').val(btn.attr("data-frombact"))
        modal.find('#mcccnumber').val(btn.attr("data-mcccnumber"))
        modal.find('#chinesename').val(btn.attr("data-chinesename"))
        modal.find('#media').val(btn.attr("data-media"))
        modal.find('#recadd').val(btn.attr("data-recadd"))
        modal.find('#entervol').val(btn.attr("data-entervol"))
        modal.find('#entercol').val(btn.attr("data-entercol"))
        modal.find('#solvent').val(btn.attr("data-solvent"))
        modal.find('#exrmethod').val(btn.attr("data-exrmethod"))
        modal.find('#comment').attr('value', btn.attr("data-comment"))
    })
</script> 


<!-- modal upload -->
<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="uploadLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="uploadLabel">
                    上传送测记录
                </h4>
            </div>
            <div class="modal-body">
                <!-- 输入新记录表单 -->
                <form class="form-horizontal" role="form" method="get" action="{% url 'blog:cru2rec' %}">
                        {% csrf_token %}
                    <input type="hidden" id="cruid"  name="cruid"  />
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">类别</label>
                        <div class="col-sm-10">
                        <input type="input" name="testtype" class="form-control" id="lastname" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">盒序号</label>
                        <div class="col-sm-10">
                        <input type="input" name="boxnumber" class="form-control" id="lastname" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">样品起序号</label>
                        <div class="col-sm-10">
                        <input type="input" name="samplestart" class="form-control" id="lastname" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">样品终序号</label>
                        <div class="col-sm-10">
                        <input type="input" name="sampleend" class="form-control" id="lastname" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">样品名</label>
                        <div class="col-sm-10">
                        <input type="input" name="samplename" class="form-control" id="lastname" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">溶剂</label>
                        <div class="col-sm-10">
                        <input type="input" name="solvent" class="form-control" id="lastname" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">重量(μg)</label>
                        <div class="col-sm-10">
                        <input type="input" name="mass" class="form-control" id="lastname" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">体积(μL)</label>
                        <div class="col-sm-10">
                        <input type="input" name="volume" class="form-control" id="lastname" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">样品浓度(mg/mL)</label>
                        <div class="col-sm-10">
                        <input type="input" name="concentration" class="form-control" id="lastname" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">测试浓度(μg/mL)</label>
                        <div class="col-sm-10">
                        <input type="input" name="testconcentration" class="form-control" id="lastname" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">测样单位</label>
                        <div class="col-sm-10">
                        <input type="input" name="department" class="form-control" id="lastname" placeholder="请输入">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                        <input type="input" name="comment" class="form-control" id="lastname" placeholder="请输入">
                        </div>
                    </div>
                    <div class = "col-sm-8"></div>
                    <div class = "col-sm-4">
                    <button type="submit" class="btn btn-default">提交新纪录</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--
<script> 
    $('#upload').on('show.bs.modal', function (event) {
        var btn = $(event.relatedTarget).parents("tr")
        var modal = $(this)
        $(".selector").val("pxx");
        modal.find('#cruid').val(btn.attr("data-whatever"))
    })
</script> 
-->
<div class="modal fade" id="batchinput" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">批量上传</h4>
            </div>
            <form class="form-inline" role="form"  method="post" enctype="multipart/form-data" action="{% url 'blog:cbatchinput' %}" accept-charset="utf-8">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" name="file">
                </div>
                <div class="form-group">
                    <input type="submit" value="上传文件">
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">确认上传</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>
{% endblock main %}