{% extends 'base.html' %}
{% load blog_tags %}
{%block main %}

<body>
    <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-8">
            <center>
           <!--  <button type="button" class="btn btn-info  btn-lg">上传</button>-->
                <button class="btn btn-info btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    上传
                </button>
                <!-- 模态框（Modal） --> 
            </center>
        </div><!-- col-md-4 -->
        <div class="col-md-4 col-sm-5 col-xs-8">
            <center>
                <button class="btn btn-info btn-primary btn-lg" data-toggle="modal" data-target="#batchinput">
                    批量上传
                </button>
            </center>
        </div><!-- col-md-4 -->
        <div class="col-md-4 col-sm-7 col-xs-4">
            <nav class="main-nav" role="navigation">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="list-unstyled text-center" >
                            <li>当前登录用户： {{request.user}}</li>
                            <li>当前数据库上传记录 {{num}}</li>
                            <li>本周上传记录xx条</li>
                          </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div><!-- col-md-8 -->
    </div>
    <div class="col-md-12 col-sm-7 col-xs-4">
            {% if msg == 0 %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">
                    &times;
                </button>
                成功！很好地完成了提交。
            </div>
            {% elif msg == 1 %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">
                    &times;
                </button>
                错误！请进行一些更改。
            </div>
            {% else %}
            {% endif %}
    <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>类别</th>
                    <th>来源粗提物</th>
                    <th>来源化合物</th>
                    <th>样品起序号</th>
                    <th>样品终序号</th>
                    <th>溶剂</th>
                    <th>重量</th>
                    <th>体积</th>
                    <th>浓度</th>
                    <th>测试浓度</th>
                    <th>提供人(送样人)</th>
                    <th>测样单位</th>
                    <th>送测时间</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                {% for test in tests %}
                {% if request.user == test.provider %}
                <tr class="row1 success"  data-toggle="modal" data-target="#alter" data-whatever="{{test.id}}"
                data-testtype = "{{test.testtype}}" data-fromcru = "{{test.fromcru}}" data-fromcpd = "{{test.fromcpd}}" 
                data-samst = "{{test.samst}}" data-samend = "{{test.samend}}" data-solvent = "{{test.solvent}}" 
                data-mass = "{{test.mass}}" data-volume = "{{test.volume}}" data-conc = "{{test.conc}}"
                data-testconc = "{{test.testconc}}" data-provider = "{{test.provider}}" 
                data-department = "{{test.department}}" data-sendtime = "{{test.sendtime}}" data-comment = "{{test.comment}}">
                {% else %}
                <tr class="row1" data-whatever="{{test.id}}"
                data-testtype = "{{test.testtype}}" data-fromcru = "{{test.fromcru}}" data-fromcpd = "{{test.fromcpd}}" 
                data-samst = "{{test.samst}}" data-samend = "{{test.samend}}" data-solvent = "{{test.solvent}}" 
                data-mass = "{{test.mass}}" data-volume = "{{test.volume}}" data-conc = "{{test.conc}}"
                data-testconc = "{{test.testconc}}" data-provider = "{{test.provider}}" 
                data-department = "{{test.department}}" data-sendtime = "{{test.sendtime}}" data-comment = "{{test.comment}}">
                {% endif %}
                    <td class = "field-testtype"> {{test.testtype}}</td>
                    <th class = "field-fromcru">{{test.fromcru}}</th>
                    <th class = "field-fromcpd">{{test.fromcpd}}</th>
                    <th class = "field-samst">{{test.samst}}</th>
                    <th class = "field-samend">{{test.samend}}</th>
                    <th class = "field-solvent">{{test.solvent}}</th>
                    <th class = "field-mass">{{test.mass}}</th>
                    <th class = "field-volume">{{test.volume}}</th>
                    <th class = "field-conc">{{test.conc}}</th>
                    <th class = "field-testconc">{{test.testconc}}</th>
                    <th class = "field-provider">{{test.provider}}</th>
                    <th class = "field-department">{{test.department}}</th>
                    <th class = "field-sendtime">{{test.sendtime}}</th>
                    <th class = "field-comment">{{test.comment}}</th>
                </tr>
                {% empty %}
                <div class="row1">null</div>
                {% endfor %}
            </tbody>
        </table>
    </div>



    <!-- modal mymodal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        上传新记录
                    </h4>
                </div>
                <div class="modal-body">
                    <!-- 输入新记录表单 -->
                    <form class="form-horizontal" role="form" method="get" action="{% url 'blog:upload' %}">
                            {% csrf_token %}
                        <div class="form-group has-success">
                            <label for="lastname" class="col-sm-2 control-label">类别</label>
                            <div class="col-sm-10">
                            <select type="input" name="testtype" class="form-control" id="testtype" onchange="closeone()">
                                <ul>
                                    <option  value = '化合物'>化合物</option>
                                    <option  value = '粗提物'>粗提物</option>
                                </ul>
                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">来源粗提物</label>
                            <div class="col-sm-10">
                                <select type="input" name="fromcru" class="form-control" id="fromcru">
                                    {% get_all_cru as cru_list %}
                                    <ul>
                                        {% for crudeex in cru_list %}
                                        <option  value = '{{crudeex.id}}'>{{crudeex.mcccnumber}}</option>
                                        {% empty %}
                                        <a>null</a>
                                        {% endfor %}
                                    </ul>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">来源化合物</label>
                            <div class="col-sm-10">
                                <select type="input" name="fromcpd" class="form-control" id="fromcpd">
                                    {% get_all_cpd as cpd_list %}
                                    <ul>
                                        {% for cpd in cpd_list %}
                                        <option  value = '{{cpd.id}}'>{{cpd.cpdnumber}}</option>
                                        {% empty %}
                                        <a>null</a>
                                        {% endfor %}
                                    </ul>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-2 control-label">样品起序号</label>
                            <div class="col-sm-10">
                            <input type="input" name="samst" class="form-control"  placeholder="请输入">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-2 control-label">样品终序号</label>
                            <div class="col-sm-10">
                            <input type="input" name="samend" class="form-control"  placeholder="请输入">
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label for="lastname" class="col-sm-2 control-label">溶剂</label>
                            <div class="col-sm-10">
                            <input type="input" name="solvent" class="form-control"  placeholder="请输入">
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label for="lastname" class="col-sm-2 control-label">重量</label>
                            <div class="col-sm-10">
                            <input type="input" name="mass" class="form-control"  placeholder="请输入">
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label for="lastname" class="col-sm-2 control-label">体积</label>
                            <div class="col-sm-10">
                            <input type="input" name="volume" class="form-control"  placeholder="请输入">
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label for="lastname" class="col-sm-2 control-label">浓度</label>
                            <div class="col-sm-10">
                            <input type="input" name="conc" class="form-control"  placeholder="请输入">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-2 control-label">测试浓度</label>
                            <div class="col-sm-10">
                            <input type="input" name="testconc" class="form-control"  placeholder="请输入">
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label for="lastname" class="col-sm-2 control-label">测样单位</label>
                            <div class="col-sm-10">
                            <input type="input" name="department" class="form-control"  placeholder="请输入">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10">
                            <input type="input" name="comment" class="form-control"  placeholder="请输入">
                            </div>
                        </div>
                        <div class = "col-sm-8"></div>
                        <div class = "col-sm-4">
                        <button type="submit" class="btn btn-default">提交新纪录</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<script>
        document.getElementById("testtype").onchange =function(){
            console.log()
        }
    //function closeone(){
    //    x = $('#testtype option:selected').val();
    //    console.log('12321412')
    //    if (x == '化合物'){
    //        $("#fromcru").attr({'disabled':'TRUE','value':''})
    //    }
    //    else{
    //        $("#fromcpd").attr({'disabled':'TRUE','value':''})
    //    }
    //}
</script>

<!-- modal alter -->
<div class="modal fade" id="alter" tabindex="-1" role="dialog" aria-labelledby="alterLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="alterLabel"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="get" action="{% url 'blog:recalter' %}">
                    <!-- 写的时候action后边的{}url后边加了两个引号，就一直跳转到/testrecord界面，去掉之后才变 -->
                        {% csrf_token %}
                    <input type="hidden" id="alterid"  name="id" value="{{test.id}}" />
                    <div class="form-group has-success">
                        <label for="lastname" class="col-sm-2 control-label">类别</label>
                        <div class="col-sm-10">
                            <select type="input" name="testtype" class="form-control" id="testtype" onchange="closeone1()">
                                <ul>
                                    <option  value = 'cpd'>化合物</option>
                                    <option  value = 'crudeex'>粗提物</option>
                                </ul>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">来源粗提物</label>
                        <div class="col-sm-10">
                            <select type="input" name="fromcru" class="form-control" id="fromcru">
                                {% get_all_cru as cru_list %}
                                <ul>
                                    {% for crudeex in cru_list %}
                                    <option  value = '{{crudeex.id}}'>{{crudeex.mcccnumber}}</option>
                                    {% empty %}
                                    <a>null</a>
                                    {% endfor %}
                                </ul>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">来源化合物</label>
                        <div class="col-sm-10">
                            <select type="input" name="fromcpd" class="form-control" id="fromcpd">
                                {% get_all_cpd as cpd_list %}
                                <ul>
                                    {% for cpd in cpd_list %}
                                    <option  value = '{{cpd.id}}'>{{cpd.cpdnumber}}</option>
                                    {% empty %}
                                    <a>null</a>
                                    {% endfor %}
                                </ul>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">样品起序号</label>
                        <div class="col-sm-10">
                        <input type="input" name="samst" class="form-control" id="samst" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">样品终序号</label>
                        <div class="col-sm-10">
                        <input type="input" name="samend" class="form-control" id="samend" >
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label for="lastname" class="col-sm-2 control-label">溶剂</label>
                        <div class="col-sm-10">
                        <input type="input" name="solvent" class="form-control" id="solvent" >
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label for="lastname" class="col-sm-2 control-label">重量</label>
                        <div class="col-sm-10">
                        <input type="input" name="mass" class="form-control" id="mass" >
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label for="lastname" class="col-sm-2 control-label">体积</label>
                        <div class="col-sm-10">
                        <input type="input" name="volume" class="form-control" id="volume" >
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label for="lastname" class="col-sm-2 control-label">浓度</label>
                        <div class="col-sm-10">
                        <input type="input" name="conc" class="form-control" id="conc">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">测试浓度</label>
                        <div class="col-sm-10">
                        <input type="input" name="testconc" class="form-control" id="testconc">
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label for="lastname" class="col-sm-2 control-label">测样单位</label>
                        <div class="col-sm-10">
                        <input type="input" name="department" class="form-control" id="department">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                        <input type="input" name="comment" class="form-control" id="comment">
                        </div>
                    </div>
                    <div class = "col-sm-8"></div>
                    <div class = "col-sm-4">
                    <button type="submit" class="btn btn-default">提交新纪录</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </form>
                <form class="form-horizontal" role="form" method="get" action="{% url 'blog:recdel' %}">
                {% csrf_token %}
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="hidden" id="delid"  name="id" value="{{test.id}}">
                    <button type="submit" class="btn btn-default">删除</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" >不删除</button>
                </div>
                </form>
                </div>
            <div class="modal-footer">  
            </div>
        </div>
    </div> 
</div>
<script>
    function closeone(){
        var x=document.getElementById("testtype");
        if (x == 'cpd'){
            $("#fromcru").attr('disabled','TRUE')
        }
        else{
            $("#fromcpd").attr('disabled','TRUE')
        }
    }
</script>
<script> 
    $('#alter').on('show.bs.modal', function (event) {
        var btn = $(event.relatedTarget)
        var modal = $(this)
        modal.find('#alterid').val(btn.attr("data-whatever"))
        modal.find('#delid').val(btn.attr("data-whatever"))
        modal.find('#fromcru').val(btn.attr("data-fromcru"))
        modal.find('#fromcpd').val(btn.attr("data-fromcpd"))
        modal.find('#samst').val(btn.attr("data-samst"))
        modal.find('#samend').val(btn.attr("data-samend"))
        modal.find('#solvent').val(btn.attr("data-solvent"))
        modal.find('#mass').val(btn.attr("data-mass"))
        modal.find('#volume').val(btn.attr("data-volume"))
        modal.find('#conc').val(btn.attr("data-conc"))
        modal.find('#testconc').val(btn.attr("data-testconc"))
        modal.find('#department').val(btn.attr("data-department"))
        modal.find('#comment').val(btn.attr("data-comment"))
    })
</script> 

<div class="modal fade" id="batchinput" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">批量上传</h4>
            </div>
            <form class="form-inline" role="form"  method="post" enctype="multipart/form-data" action="{% url 'blog:tbatchinput' %}" accept-charset="utf-8">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" name="file">
                </div>
                <div class="form-group">
                    <input type="submit" value="上传文件">
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">确认上传</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
{% endblock main %}




